:root {
    background-color: #5ba483;
    text-align: center;
    display: flex;
    justify-content: center;
}

.choicesWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.userChoiceWrapper,
.computerChoiceWrapper {
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px;
    padding-bottom: 20px;
    background-color: #43b1bc;
}

.userChoice,
.computerChoice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.choice {
    min-width: 90px;
}

.hand:hover {
    transform: scale(2) rotate(75deg);
    border-radius: 5px;
}

.scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

input {
    width: 30px;
    border: none;
    background-color: #43b1bc;
    font-size: xx-large;
}

input::placeholder {
    color: black;
}

.logo {
    transform: scale(2);
}